<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML 5 Boilerplate</title>
  <link rel="stylesheet" href="test.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">

</head>

<body class="bg-neutral-900">
  <div className="bg-white dark:bg-neutral-900 font-sans min-h-screen flex-col p-2 justify-center items-center">
    <h1 className="text-3xl text-neutral-200 ">
      Welcome User
    </h1>
    <hr className="bg-neutral-800 w-full h-full" />
    <div className="justify-center flex-row flex pt-2 space-x-2">
      <div className="bg-neutral-800 bg-neutral-800 rounded w-100 justify-center flex-row flex p-2"> a </div>
    </div>
  </div>
</body>

</html>